.Searchbar {
    /* margin-left: 350px; */
    width: 80%;
}

.Searchbar i {
    padding: 30px 8px 30px 10px;
}

.Searchbar input {
    border-radius: 5px;
    padding: 10px 80px;
    display: inline;
}

@media (min-width: 700px) and (max-width: 899px) {
    .Searchbar {
        width: 700px;
        margin-left: 150px;
    }

    .Searchbar input {
        padding: 10px 170px;
    }

    .Searchbar button {
        padding: 8px 20px;
        margin-top: 20px;
        margin-left: 10px;
        display: inline;
    }

    .Searchbar i {
        padding: 30px 8px 30px 10px;
    }
}

@media (min-width: 900px) {
    .Searchbar {
        margin-left: 350px;
    }

    .Searchbar input {
        padding: 10px 170px;
    }

    .Searchbar button {
        padding: 8px 20px;
        margin-top: 20px;
        margin-left: 10px;
        display: inline;
    }

    .Searchbar i {
        padding: 30px 8px 30px 10px;
    }
}

