.Auth {
    margin: 90px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.Auth input {
    border: 1px solid grey;
    padding: 10px 200px 10px 3px;
    margin-top: 20px;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}